<div class="experience-section">
  
  <app-titel-component 
    [title]="'EXPERIENCE.TITLE' | translate">
  </app-titel-component>

  <div class="timeline">

    <app-experience-card
      [title]="'EXPERIENCE.FULLSTACK.TITLE' | translate"
      [years]="'EXPERIENCE.FULLSTACK.YEARS' | translate"
      [description]="'EXPERIENCE.FULLSTACK.DESC' | translate"
      icon="fa-solid fa-code">
    </app-experience-card>

    <app-experience-card
      [title]="'EXPERIENCE.BACKEND.TITLE' | translate"
      [years]="'EXPERIENCE.BACKEND.YEARS' | translate"
      [description]="'EXPERIENCE.BACKEND.DESC' | translate"
      icon="fa-solid fa-server">
    </app-experience-card>

    <app-experience-card
      [title]="'EXPERIENCE.DEVOPS.TITLE' | translate"
      [years]="'EXPERIENCE.DEVOPS.YEARS' | translate"
      [description]="'EXPERIENCE.DEVOPS.DESC' | translate"
      icon="fa-solid fa-gears">
    </app-experience-card>

    <app-experience-card
      [title]="'EXPERIENCE.MASTER.TITLE' | translate"
      [years]="'EXPERIENCE.MASTER.YEARS' | translate"
      [description]="'EXPERIENCE.MASTER.DESC' | translate"
      icon="fa-solid fa-graduation-cap">
    </app-experience-card>

    <app-experience-card
      [title]="'EXPERIENCE.STARTUP.TITLE' | translate"
      [years]="'EXPERIENCE.STARTUP.YEARS' | translate"
      [description]="'EXPERIENCE.STARTUP.DESC' | translate"
      icon="fa-solid fa-rocket">
    </app-experience-card>

  </div>
</div>