/* layout.component.css */
:host {
    display: block;
    height: 100vh;
}

.layout-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* C'est ici que le scroll se passe */
   
}